In [106]:
import pandas as pd 
import plotly.express as px
df = pd.read_csv('fullyTreated.csv')
df.head()

,Unnamed: 0,gender,age,working_professional_or_student,profession,academic_pressure,work_pressure,study_satisfaction,job_satisfaction,sleep_duration,dietary_habits,degree,have_you_ever_had_suicidal_thoughts_?,work/study_hours,financial_stress,family_history_of_mental_illness,depression,general_pressure,general_satisfaction
0,0,0,37,1,Teacher,0.0,2.0,0.0,4.0,4,0,1,0,6,2,0,0,2.0,4.0
1,1,1,60,1,Financial Analyst,0.0,4.0,0.0,3.0,2,-1,0,1,0,4,1,0,4.0,3.0
2,2,0,42,1,Teacher,0.0,2.0,0.0,3.0,2,0,1,0,0,2,0,0,2.0,3.0
3,3,0,44,1,Teacher,0.0,3.0,0.0,5.0,4,1,1,1,1,2,1,0,3.0,5.0
4,4,1,48,1,UX/UI Designer,0.0,4.0,0.0,3.0,4,0,0,1,6,5,1,0,4.0,3.0

In [111]:
df['profession'].fillna('Unoccupied', inplace=True)

df['profession'].value_counts()

profession
Unoccupied                673
Teacher                   322
Content Writer            116
HR Manager                 84
Pharmacist                 75
Architect                  73
Consultant                 72
Business Analyst           71
Doctor                     66
Entrepreneur               63
Chemist                    59
Chef                       59
Lawyer                     48
Travel Consultant          46
Researcher                 45
Educational Consultant     44
Judge                      42
Manager                    42
Data Scientist             42
Customer Support           41
Pilot                      39
Marketing Manager          39
Finanancial Analyst        38
Financial Analyst          36
Plumber                    35
Software Engineer          34
Electrician                33
Sales Executive            32
Digital Marketer           31
Civil Engineer             31
Mechanical Engineer        30
UX/UI Designer             26
Graphic Designer           26
Accountant                 17
Research Analyst           15
Investment Banker          11
Name: count, dtype: int64

In [131]:
public_sector = ["Teacher", "HR Manager", "Pharmacist", "Judge", "Plumber", "Electrician", "Doctor", "Lawyer"]
df_public = df[df['profession'].isin(public_sector)]

private_sector = ['Business Analyst', 'Marketing Manager', 'Financial Analyst','Finanancial Analyst', 'Sales Executive', 'Customer Support', 'Entrepreneur', 'Consultant', 'Travel Consultant', 'Chef', 'Manager']
df_private = df[df['profession'].isin(private_sector)]

technology_sector = ['Software Engineer', 'Data Scientist', 'Mechanical Engineer', 'Civil Engineer', 'UX/UI Designer', 'Graphic Designer', 'Architect', 'Digital Marketer', 'Pilot', 'Researcher']
df_technology = df[df['profession'].isin(technology_sector)]

liberal_services =['Content Writer', 'Chemist', 'Educational Consultant', 'Investment Banker', 'Research Analyst', 'Entrepreneur', 'Consultant', 'Chef']
df_liberal = df[df['profession'].isin(liberal_services)]

In [162]:
public_pressure = df_public['general_pressure'].mean().astype(int)
private_pressure = df_private['general_pressure'].mean().astype(int)
technology_pressure = df_technology['general_pressure'].mean().astype(int)
liberal_pressure = df_liberal['general_pressure'].mean().astype(int)

In [161]:
df['profession'] = df['profession'].replace(dict.fromkeys(public_sector, public_pressure))
df['profession']

0                       3
1       Financial Analyst
2                       3
3                       3
4          UX/UI Designer
              ...
2551           Consultant
2552                    3
2553                    3
2554     Business Analyst
2555           Unoccupied
Name: profession, Length: 2556, dtype: object